{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "todo-api-app",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "3000"
    }
  ],
  "Volumes": [],
  "Logging": "/var/log/nginx"
}
